<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImageDistributeServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.ImageDistributeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImageReceiveServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.ImageReceiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryImagesServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.QueryImagesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddImageServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.AddImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.QueryUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindByIndexServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.FindByIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryUsers</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.QueryUsers</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAdminServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.QueryAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAdmins</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.QueryAdmins</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.DeleteAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExportTags</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.ExportTags</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.Download</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InitIndex</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.InitIndex</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryImages</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.QueryImages</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteImage</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.DeleteImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserTag</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.UserTag</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImageTag</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.ImageTag</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteRecord</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.DeleteRecord</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>cn.cumt.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryReceiveTags</servlet-name>
    <servlet-class>cn.cumt.servlet.QueryReceiveTags</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryRecords</servlet-name>
    <servlet-class>cn.cumt.servlet.QueryRecords</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateScore</servlet-name>
    <servlet-class>cn.cumt.servlet.UpdateScore</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateTag</servlet-name>
    <servlet-class>cn.cumt.servlet.UpdateTag</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>cn.cumt.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.AddImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>cn.cumt.admin.servlet.AddAdmin</servlet-class>
  </servlet>


































  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDistributeServlet</servlet-name>
    <url-pattern>/ImageDistributeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageReceiveServlet</servlet-name>
    <url-pattern>/ImageReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryImagesServlet</servlet-name>
    <url-pattern>/QueryImagesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddImageServlet</servlet-name>
    <url-pattern>/AddImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/QueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByIndexServlet</servlet-name>
    <url-pattern>/FindByIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUsers</servlet-name>
    <url-pattern>/admin/QueryUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAdminServlet</servlet-name>
    <url-pattern>/QueryAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAdmins</servlet-name>
    <url-pattern>/admin/QueryAdmins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/admin/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/admin/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportTags</servlet-name>
    <url-pattern>/admin/ExportTags</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/admin/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitIndex</servlet-name>
    <url-pattern>/admin/InitIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryImages</servlet-name>
    <url-pattern>/admin/QueryImages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteImage</servlet-name>
    <url-pattern>/admin/DeleteImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTag</servlet-name>
    <url-pattern>/admin/UserTag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageTag</servlet-name>
    <url-pattern>/admin/ImageTag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRecord</servlet-name>
    <url-pattern>/admin/DeleteRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/AdminUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryReceiveTags</servlet-name>
    <url-pattern>/QueryReceiveTags</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRecords</servlet-name>
    <url-pattern>/QueryRecords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateScore</servlet-name>
    <url-pattern>/UpdateScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTag</servlet-name>
    <url-pattern>/UpdateTag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/admin/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/admin/AddImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/admin/AddAdmin</url-pattern>
  </servlet-mapping>

</web-app>